<%= form_with(model: travel, local: true) do |f| %>

  <% if travel.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% travel.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name, '旅行名' %>
  <%= f.text_field :name %>

  <%= f.submit '保存' %>
<% end %>