<h1>旅行名: <%= @travel.name %></h1>

<%= form_with(model: @travel, local: true) do |f| %>
  <%= f.label :name, '旅行名' %>
  <%= f.text_field :name %>

  <%= f.submit '保存' %>
<% end %>

<%= link_to '一覧に戻る', travels_path %>
